{% extends "base.html" %}

{% block headContent %}
  <h1>Edit Post</h1>
  <p>You can edit existing blogs here</p>
{% endblock %}
{% block mainContent %}
  <div class="container">
    <div class="jumbotron">
      <form method="post">
          {{form.hidden_tag()}}
          <div class="mb-3 form-label">
              {{form.title.label}}<br>
              {{form.title(value=blog.title)}}
          </div>
          <div class="mb-3 form-label">
              {{form.subtitle.label}}<br>
              {{form.subtitle(value=blog.subtitle)}}
          </div>
          <div class="mb-3 form-label">
              {{form.author.label}}<br>
              {{form.author(value=blog.author)}}
          </div>
          <div class="mb-3 form-label">
              {{form.content.label}}<br>
              {% set f = form.content.process_data(blog.content) %}
              {{form.content(rows=10, cols=40)}}
          </div>
          {{form.submit(class="btn btn-secondary")}}
      </form>
    </div>
</div>
{% endblock %}
